<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Brandceptions</title> 
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://cdn.pubnub.com/pubnub-3.16.5.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
</head>
<style>

	.loader {
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		z-index: 9999;
		background: url(images/loader3.gif) center no-repeat #fff;
		opacity: .8;
	}
	.errorMsg {
		width: 50%;
		height: 100px;
		z-index: 9999;
		opacity: .8;
		text-align: center;
		background-color: white;
		color: red;
		position: absolute;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
	#inputcontainer {
	    text-align:center;
	    height:75px;
	    width:auto;
	}
	#header {
	    text-align:center;
	    color: black;
	    height:50px;
	    width:auto;
	}
</style>
<body>
	<div id="header"><p><strong>Brand Perception Comparison</strong></p></div> 
	<div id="inputcontainer">
		Brand 1 :
	    <input id="brand1" type="text" name="Brand1" placeholder="Brand name">
	    Brand 2 :
	    <input id="brand2" type="text" name="Brand2" placeholder="Brand name">
	    <input id="submit" type="submit" value="Submit">
	</div>
	<div class="loader" style="display: none;"></div>
	<div class="errorMsg" style="display: none;"><p>Error while fetching data, Try again !!!</p></div>
	<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	<script type="text/javascript">

		var pubnub = PUBNUB({
		    publish_key   : "pub-c-578b72c9-0ca2-4429-b7d4-313bbdf9b335",
		    subscribe_key : "sub-c-471f5e36-e1ef-11e6-ac69-0619f8945a4f"
		});

		var brand1score;
		var brand1name;	
		var count = 0 ;


/*********************************************************************************************
	FUNCTION NAME : pubnub subscribe()
    DESCRIPTION   : listens to 'realtimebrandmonitor' and sends brand scores to chart function
***********************************************************************************************/
		pubnub.subscribe({
		    channel  : "realtimebrandmonitor",
		    message : function(tweets) {
		        console.log( " >pubnub subscribe :", tweets );
		        
		        if(Object.keys(tweets.tonescore).length != 0 && (count % 2) == 0){
		        	brand1score = tweets.tonescore
		        	brand1name = tweets.brandname
		        	count = count+1;
		        	$(".loader").fadeIn("slow");
		        }
		        else if(Object.keys(tweets.tonescore).length != 0 && (count % 2) == 1){
		        	var brand2score = tweets.tonescore
		        	var brand2name = tweets.brandname
		        	$(".loader").fadeOut("slow");
		        	count = 0;
		        	highchart(brand1score,brand2score,brand1name,brand2name);
		       	}
		        else if(Object.keys(tweets.tonescore).length == 0) {
		        	if(count == 0){
		        		brand1score = tweets.tonescore
		        		brand1score ={"AngerAvgScore":0,"FearAvgScore":0,"SadnessAvgScore":0,"DisgustAvgScore":0,"JoyAvgScore":0}
						brand1name = 'NA'
						count = 1;
						$(".errorMsg").fadeIn("slow");
						$(".loader").fadeIn("slow");
					}
					else if(count == 1){
						brand2score ={"AngerAvgScore":0,"FearAvgScore":0,"SadnessAvgScore":0,"DisgustAvgScore":0,"JoyAvgScore":0}
						brand2name = 'NA'
						$(".loader").fadeOut("slow");
						$(".errorMsg").fadeIn("slow");
						count = 0;
						highchart(brand1score,brand2score,brand1name,brand2name);
					}
		        }
		        
		    }
		});
/************************************************************************
	FUNCTION EVENT : Submit on click event
    DESCRIPTION    : Sends brand names to the server for fetching tweets
*************************************************************************/		
		$("#submit").click(function(event){ 
			var b1 = $('#brand1').val()
			var b2 = $('#brand2').val()
			if ($.trim(b1) === "" || $.trim(b2) === "") {
		        alert('You have not filled one / both the input fields');
		        return false;
		    }else{
		    	$(".loader").fadeIn("slow");
		    	var brands = {"brand1":b1,"brand2":b2};
		    	pubPublish(brands)
		    }
		});
/************************************************************************
	FUNCTION       : Pubnub Publish
    DESCRIPTION    : Sends brand names to the server for fetching tweets
*************************************************************************/
		function pubPublish(brands){
	    	pubnub.publish({
			    channel   : 'realtimebrandmonitor-brands',
			    message   : brands,
			    callback  : function(e) { 
			        console.log( "SUCCESS!", e );
			    },
			    error     : function(e) { 
			        console.log( "FAILED! RETRY PUBLISH!", e );
			    }
			});
	    }; 
/********************************************************************************
	FUNCTION NAME : highchart()
    DESCRIPTION   : Plots the graph on receiving brand scores from tone analyzer
*********************************************************************************/
		function highchart(brand1score,brand2score,brand1name,brand2name){
			console.log(brand1name,brand2name)
			$('#brand1').val(brand1name);
			$('#brand2').val(brand2name);
			Highcharts.chart('container', {
			    chart: {
			        type: 'column'
			    },
			    title: {
			        text: 'Brandceptions'
			    },
			    subtitle: {
			        text: '<span style="font-size:10px"><strong>'+brand1name+ "  Vs  " +brand2name+'</strong></span>',
			    },
			    xAxis: {
			        categories: [
			            '<span style="font-size:10px"><strong>Joy</strong></span>',
			            '<span style="font-size:10px"><strong>Anger</strong></span>',
			            '<span style="font-size:10px"><strong>Disgust</strong></span>',
			            '<span style="font-size:10px"><strong>Fear</strong></span>',
			            '<span style="font-size:10px"><strong>Sadness</strong></span>'
			        ],
			        crosshair: true
			    },
			    yAxis: {
			        min: 0,
			        max: 1,
			        tickAmount: 6,
			        title: {
			            text: 'Emotion Total Score'
			        }
			    },
			    tooltip: {
			        headerFormat: '<span style="font-size:10px"><strong>{point.key}</strong></span><table>',
			        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
			            '<td style="padding:0"><b>{point.y:.1f} Score</b></td></tr>',
			        footerFormat: '</table>',
			        shared: true,
			        useHTML: true
			    },
			    plotOptions: {
			        column: {
			            pointPadding: 0.2,
			            borderWidth: 0
			        }
			    },
			    series: [{
			        name: brand1name,
			        data: [brand1score.JoyAvgScore,brand1score.AngerAvgScore,brand1score.DisgustAvgScore,brand1score.FearAvgScore,brand1score.SadnessAvgScore]

			    },
			    {
			        name: brand2name,
			        data: [brand2score.JoyAvgScore,brand2score.AngerAvgScore,brand2score.DisgustAvgScore,brand2score.FearAvgScore,brand2score.SadnessAvgScore]

			    }]
			});
			setTimeout(function(){
				$(".loader").fadeOut("slow");
				$(".errorMsg").fadeOut("slow");
			},3000);
			
		};
		
	</script>
</body>
</html>
